body {
    margin: 60px auto;
    width: 70%;
}
.blurb{
    background: url("/img/home.png") no-repeat;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
.lb{
    width:250px;
    height:180px;
    border-style: none;
    color: white;
    font-size: 30px;
}
.lb:hover{
    color:black;
    background-color:white;
    transition: background-color 1000ms;
}
#lbhome {
    background-image: linear-gradient(to bottom right,#FF00FF, #FF66FF);
#lbabout{
    background-image: linear-gradient(to bottom right,#33CC00, #33CC66);
}
#lbcv{
    background-image: linear-gradient(to bottom right,#0033FF, #00CCFF);
}
#lbblog{
    background-image: linear-gradient(to bottom right,#FFFF00, #FF9900);
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
