---
layout: default
notes: active
---

<div class="notes">
		<div class="note single">
			<h1 class="title">{{ page.title }}</h1>
			
			<h2 class="date"><info datetime="{{ page.date }}">
				{{ page.date | date_to_string }} {% if page.author %} by {{ page.author }} {% endif %}
			</info></h2>
			<!-- Post content -->
			<div class="notebody">
				{{ content }}
			</div>
			<!-- Post info -->
			<div class="noteinfo">
			<!-- include some categories and tags maybe? -->
			</div>

			<hr>

			<!-- Post comments -->
			<div class="notecomments">
				{% include disqus.html %}	 
			</div>
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
			<span id="busuanzi_value_page_pv">本文总阅读量<i class="fa fa-spinner fa-spin"></i>次</span>
		</div><!-- / .note .single -->
</div><!-- /.notes -->
